body {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-family: sans-serif;
	min-height: 30vh;
	flex-direction: column;
	margin: 0;
	background-color: #061826;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #1A303F;
	padding: 10px;
	height: 50px;
	letter-spacing: 2px;
	word-spacing: 25px;
}

header nav ul{
	text-align: right;
}
header nav ul li{
	display: inline-block;
	margin: 0 15px;
}
header nav ul li a{
	display: block;
	text-decoration: none;
	color: #E6D6C1;
    padding-right: 10px;
}

h1 {
	color: #E6D6C1;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	text-align: center;
	margin-left: 50px;
}

label {
	color: #E6D6C1;
}

#gameForm {
	margin-left: 50px;
}

#response {
	color: #E6D6C1;
	margin: 10px 50px;
}

img {
	display: none;
	margin-top: 10px;
	width: 200px;
	height: auto;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #1A303F;
	padding: 5px;
	color: #E6D6C1;
	text-align: center;
}